*{

    margin: 0;
    padding: 0;

}

.grid-container{

    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: auto;
    
}

.sidebar{

    background-color: #7c3aed;
    height: 100vh;
    grid-row: 1/10;
    display: flex;
    color: whitesmoke;
    

}

.header{

    background-color: whitesmoke;
    height: 20vh;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto;

}

.search-bar{

    height: 10vh;
    text-align: center;
    padding-top: 1vh;
    

}

.profile-preview{

    height: 10vh;
    

}

.greeting{


}

.new-upload-share{

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#button{

    background-color:#3882f6 ;
    border: 0cm;
    color: #E5E7EB;
    border-radius: 45%;
    padding: 10px;
    text-align: center;

}

.main-content{

    background-color: #E5E7EB;
    height: 80vh;
    display: grid;

}

