*{

    margin: 0;
    padding: 0;

}

.grid-container{

    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: auto;
    
}

.sidebar{

    background-color: #3882f6;
    height: auto;
    grid-row: 1/10;
    display: flex;
    padding-left: 3%;
    padding-top: 10%;
    flex-direction: column;
    column-gap: 5px;
    color: whitesmoke;

}


#dashboard-icon{

    height: 4rem;

}

#sidebar-part{  

    padding-left: 5%;
    padding-top: 10%;
    padding-bottom: 10%;


}


#icon{

    height: 2rem;

}


#link{

    padding-left: 10%;
    padding-right: 10%;
    font-size: large;
    text-align: center;

}


#sidebar-line{

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-left: 3%;    

}

#sidebar-line > img{

    height: 2rem;

}

.header{

    background-color: whitesmoke;
    height: 20vh;
    padding-bottom: 15px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto;

}

#search-icon{

    height: 1.5rem;

}

#search-input{

    background-color: #F2F2F2;
    height: 1.5rem;
    width: 45vw;
    border-radius: 30px;

}

.search-bar, .profile-preview{

    padding-left: 2vw;
    height: 10vh;
    justify-items: start;
    text-align: left;
    padding-top: 3vh;
    
}

.profile-preview{

    display: flex;
    flex-direction: row;
    gap: 2vw;
    

}

.greeting{

    padding-left: 30px;
    display: flex;
    flex-direction: row;
    gap: 1vw;

}

.greeting-text{

    display: flex;
    flex-direction: column;
    gap: 1vh;

}

#profile-icon{

    height: 3rem;

}

.new-upload-share{

    display: flex;
    flex-direction: row;
    gap: 2vw;

}


#button{

    background-color:#3882f6 ;
    border: 0cm;
    color: #E5E7EB;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center; 
    height: 5.5vh;
    width: 5vw;
    border-radius: 15px;
}

.main-content{

    height: auto;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: row;
    padding-top: 3%;

}

.projects{

    display: flex;
    flex-direction: column;
    padding-left: 3%;
    
}

#project-title{

    padding-bottom: 3%;
   
}

.project-list{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 30px;

}

#project{

    background-color: whitesmoke;
    border-radius: 20px;
    padding: 2%;

}


#project > p{

    padding: 2%

}

#project > h3{

    padding-left: 2%;

}

#choices{

    padding-top: 3%;
    float: right;

}

#choices > img{

    height: 1.5rem;
    

}


.announcements-trends{
    
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    column-gap: 50px;
    padding-left: 30px;
    height: auto;
    width: fit-content;
}

.announcements, .trends{

    background-color: whitesmoke;
    height: auto;
    width: 15vw;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 3%;

}

#announcement{

    column-gap: 2px;
    padding-bottom: 5%;

}

#trend{

    display: flex;
    flex-direction: row;
    column-gap: 10px;
    padding-bottom: 5px;

}

#trend > img{

    height: 2rem;

}




